p {
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border: 1px solid grey;
    border-bottom: 5px solid blue;
    padding: 8px;
    margin: 8px 0;
    color: rgba(232,190,12,1);
    background-color: rgb(137, 33, 168);
}

a {
    display: block;
    color: rgb(3,5,12);
}

html {
    background-color: rgb(150,250,150);
    color: rgb(250,50,24);


}
